@use 'utilities/variables' as var;
@use 'utilities/mixins' as mix;

.footer {
  background-color: var.$secondary-color;
  padding-top: var.$spacing-5;
  &__grid {
    @include mix.tablet {
      @include mix.grid(3, var.$spacing-5)
    }
  }
  &__box {
    margin-bottom: var.$spacing-5;
  }
  &__title {
    color: var.$white;
    margin: 0;
    text-align: center;
    @include mix.tablet {
      text-align: left;
    }
  }
  &__paragraph {
    color: var.$white;
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: center;
    @include mix.tablet {
      text-align: left;
    }
  }
  &__nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    li {
      text-align: center;
      @include mix.tablet {
        text-align: left;
      }
    }
  }
  &__link {
    color: var.$white;
    font-size: 1.7rem;
    line-height: 1.5;
  }
  &__copyright {
    background-color: var.$primary-color;
    color: var.$white;
    margin: 0;
    padding: 2rem;
    font-size: 1.7rem;
    text-align: center;
  }
}