@use 'utilities/variables' as var;
@use 'utilities/mixins' as mix;

.header {
  padding: var.$spacing-5 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mix.tablet {
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo {
    width: 30rem;
    margin-bottom: 3rem;
    @include mix.desktop {
      margin-bottom: 0;
    }
  }
}