@use 'utilities/variables' as var;
@use 'utilities/mixins' as mix;

.navbar {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @include mix.tablet {
      flex-direction: row;
    }
  }
  &__link {
    color: var.$black;
    font-size: 1.9rem;
    font-weight: 700;
    &--register {
      @include mix.button(var.$primary-color, var.$white);
    }
    @include mix.tablet {
      font-size: 1.35rem;
    }
    @include mix.desktop {
      font-size: 1.8rem;
    }
  }
}